.services {
    text-align: center;
    background: #011B35;
    padding-top: 30px;
    padding-bottom: 40px;
}
.services-title {
    color: #53C0FF;
    margin: 0 auto;
    font-size: 22px
}
.services hr {
    color: #53C0FF;
    width: 150px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    height: 260px;
    width: 380px;
    object-fit: cover;
    margin: 40px 30px;
    text-align: center;
    font-size: 20px;
}
.service.pay-bill {
    margin-right: -120px;
    width: 440px;
}
@media screen and (max-width: 500px) {
    .service {
        width: 80%;
        height: 140px;
        width: 220px;
        margin: 20px auto;
    }
    .services-title {
        font-size: 17px;
    }
    .services hr {
        margin: 20px auto;
    }
    .service.pay-bill {
        width: 310px;
        margin-right: -50px;
    }
}