.summary {
    background: #034080;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.summary-title {
    color: #53C0FF;
    margin: 0;
    background: #034080;
    font-weight: 300px !important;
    font-size: 25px;
}
.summary hr {
    color: #53C0FF;
    width: 150px;
    margin: 30px auto;
}
.statistics {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.stat {
    width: 250px;
    margin: 30px;
}
.stat h1 {
    font-size: 36px;
    color: #53C0FF;
}
.stat p {
    font-size: 18px;
}

.btn-more {
    padding: 10px 20px;
    color: #000;
    background: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border: 1px #fff solid;
}
.btn-more:hover {
    cursor: pointer;
    background: #034080;
    color: white;
    border: 1px #fff solid;
}
@media screen and (max-width: 500px)  {
    .summary {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .summary-title {
        font-size: 17px;
    }
    .summary hr {
        margin: 20px auto;
    }
    .statistics {
        width: 100%;
        margin: 10px auto;
    }
    .stat {
        margin: 10px;
    }
    .stat h1 {
        font-size: 22px;
    }
    .stat p {
        font-size: 14px;
    }
    .btn-more {
        padding: 7px 12px;
        font-size: 12px;
        border-radius: 3px;
    }
}