.countries {
    background: transparent linear-gradient(180deg, #034080 0%, #022850 29%, #011B35 100%) 0% 0% no-repeat padding-box;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}
.countries-title {
    color: #fff;
    font-size: 19px;
    margin: 30px auto;
}
.flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.flag {
    height: 85px;
    width: 120px;
    margin: 20px;
}
@media screen and (max-width: 500px) {
    .countries {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .countries-title {
        font-size: 15px;
    }
    .flag {
        width: 95px;
        height: 70px;
    }
}